body
  padding-top 80px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.navbar-form
  .form-group
    margin-left 10px
button
  margin-left 10px

.navbar-nav>li>a.signup
  padding-top 7.5px

@media screen and (max-width: 767px)
  .navbar-header
    position relative
  body
    padding-top 270px


.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 90px

.toast-success
  background-color #13987e

table
  margin-top 50px

#change_btn
  padding-top 2px
  padding-bottom 2px

.ta-editor
  min-height 100px
  height auto
  overflow auto
  font-family inherit
  font-size 100%
  margin 20px 0

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
