.container
    h1
    .row
        .col-md-12
            .panel.panel-primary
                .panel-heading {{ticket.title}}
                .panel-body(ng-bind-html="ticket.contents")
                img.img-rounded.center-block(style="display: block;", src="{{ticket.img_path}}")
                table.table.table-hover.table-striped.table-condensed
                    tr
                        th Type
                        td {{ticket.type[0]}}
                        td
                        th(colspan="2" ng-show="identity.currentUser.isAdmin()") Change Type
                            select.c-select(id="type", ng-model="change_type", required)
                                option(value="open") open
                                option(value="hold") hold
                                option(value="close") close
                            button.btn.btn-default(id="change_btn", ng-click="update()") change
                    tr
                        th Published
                        td(colspan=3) {{ticket.published | date : 'yy년 M월 d일 hh:mm a' : +09}}
                    tr
                        th Writer
                        td(colspan=3) {{ticket.user_id}}
                    tr
                        th Company
                        td(colspan=3) {{ticket.company}}

    //tr
                    //    th Comments
                    //tr
                    //    td comment_contents
                    //    td comment_published
                    //    td comment_writer
                    //    td comment_company
    .row
        .col-md-12
            .panel.panel-info(ng-repeat="comment in comments")
                .panel-heading {{comment.company}}
                .panel-body(ng-bind-html="comment.contents")
                img.img-rounded.center-block(style="display: block;", src="{{comment.img_path}}")
                //ul.list-group
                //    li.list-group-item Published
                //    li.list-group-item Writer
                //    li.list-group-item Company
                table.table.table-hover
                    tr
                        th Published
                        td {{comment.published | date : 'yy년 M월 d일 hh:mm a' : +09}}
                    tr
                        th Writer
                        td {{comment.user_id}}
        //.col-md-6
        //    h3 Published on {{ticket.published | date}}
        //UI for comments
    .well
        form.form-horizontal(name="ticketcommentForm")
            fieldset
                legend New Comment
                .form-group
                    label.col-md-2.control-label(for="contents") Contents
                    .col-md-10
                        text-angular(id="contents", class="ta-editor" ng-model="contents", required)
                        //textarea.form-control(id="contents", row="8",ng-model="contents", required)
                .form-group
                    label.col-md-2.control-label(for="upload") upload
                    .col-md-10
                        button.btn.btn-default.ngf-select(id="upload", ng-model="picFile", name="file", accept="image/*") Select Picture
                        .ngf-drop(ng-model="picFile", ngf-pattern="image/*", class="cropArea")
                            img-crop(image="picFile | ngfDataUrl" result-image="croppedDataUrl", name="file", accept="image/*", ng-init="croppedDataUrl=''")
                        div
                            img(ng-src="{{croppedDataUrl}}")
                        span(class="progress", ng-show="progress >= 0")
                            div(style="width:{{progress}}%" ng-bind="progress + '%'")
                        //span(ng-show="result") Upload Successful
                        span(class="err", ng-show="errorMsg") {{errorMsg}}
                .form-group
                    label.col-md-2.control-label(for="writer") Writer
                    .col-md-10
                        select.c-select.form-control(id="writer", ng-model="user_id", required)
                            option(value="{{user.username}}") {{user.username}}
                .form-group
                    label.col-md-2.control-label(for="company") Company
                    .col-md-10
                        select.c-select.form-control(id="company", ng-model="company", required)
                            option(value="{{user.company}}") {{user.company}}
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="createComment(croppedDataUrl);", ng-disabled="ticketcommentForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel