.container
    .jumbotron
        h1 SB-Network
        p Welcome to SBNetwork Ticket!
        p please login and drop the tickets.
    //.row
    //    .col-md-6
    //        div(ng-include="'/partials/main/featured-courses'")
    //    .col-md-6
    //        div(ng-include="'/partials/main/new-courses'")
    //.row(ng-show="identity.isAuthenticated()")
    .row
        .col-md-12
            div(ng-include="'/partials/main/tickets-open'")
    .row
        .col-md-6
            div(ng-include="'/partials/main/tickets-hold'")
        .col-md-6
            div(ng-include="'/partials/main/tickets-close'")
